<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title><%= app.name %></title>
</head>

<body>
  <script>
    window.apiready = function () {
      api.openWin({
        name: '<%= app.entries[0].name %>',
        url: 'http://<%= app.ip %>:<%= app.port %>/<%= app.entries[0].htmlpath %>.html',
        slidBackEnabled: false
      });
    };
  </script>
</body>

</html>